services:
  mariadb:
    image: bitnamilegacy/mariadb:latest
    container_name: infotec_autos_mariadb
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_autos
      - MARIADB_DATABASE=autos_db
      - MARIADB_PASSWORD=autos_pass
    volumes:
      - infotec_autos_mariadb_data:/bitnami/mariadb
    networks:
      - infotec_autos_net

  application:
    image: bitnamilegacy/laravel:latest
    container_name: infotec_autos_app
    environment:
      - LARAVEL_DATABASE_TYPE=mysql
      - LARAVEL_DATABASE_HOST=infotec_autos_mariadb
      - LARAVEL_DATABASE_PORT_NUMBER=3306
      - LARAVEL_DATABASE_NAME=autos_db
      - LARAVEL_DATABASE_USER=bn_autos
      - LARAVEL_DATABASE_PASSWORD=autos_pass
    ports:
      - "8000:8000"
    volumes:
      - "./src:/app"
    depends_on:
      - mariadb
    networks:
      - infotec_autos_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: infotec_autos_phpmyadmin
    environment:
      PMA_HOST: infotec_autos_mariadb
      PMA_PORT: 3306
      PMA_USER: bn_autos
      PMA_PASSWORD: autos_pass
    ports:
      - "8081:80"
    depends_on:
      - mariadb
    networks:
      - infotec_autos_net

volumes:
  infotec_autos_mariadb_data:
    driver: local

networks:
  infotec_autos_net:
    driver: bridge